<launch>
    <arg name="socket_role" default="server"/>
    <arg name="udp_ip" default="10.42.0.1"/>
    <arg name="udp_port" default="20001"/>
    <arg name="udp_buffer_size" default="1024"/>
    <arg name="udp_update_rate" default="0.05"/>
    <arg name="print_log" default="True"/>

    <node name="opti_track_ros_interface_node" pkg="opti_track_ros_interface" type="opti_track_ros_interface_node.py" output="screen">
        <param name="socket_role" value="$(arg socket_role)"/>
        <param name="udp_ip" value="$(arg udp_ip)"/>
        <param name="udp_port" value="$(arg udp_port)"/>
        <param name="udp_buffer_size" value="$(arg udp_buffer_size)"/>
        <param name="udp_update_rate" value="$(arg udp_update_rate)"/>
        <param name="print_log" value="$(arg print_log)"/>
    </node>

</launch>
